/* line 1, ../scss/style.scss */
body {
  background: #ccc;
}

/* line 5, ../scss/style.scss */
.divideline {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: #999;
  margin-top: 15px;
}

/* line 13, ../scss/style.scss */
.menu {
  width: 70%;
  height: 100%;
  /*display:none;*/
  position: absolute;
  background: #fff;
  z-index: 9;
}
/* line 21, ../scss/style.scss */
.menu .done {
  width: 95%;
  height: 30px;
  background-color: #ccc;
  border-color: #ccc;
  margin-top: 20px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/* line 34, ../scss/style.scss */
.menu .tags {
  width: 95%;
  height: 30px;
  background-color: #ccc;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-radius: 0px;
}
/* line 49, ../scss/style.scss */
.menu .menutags {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
/* line 56, ../scss/style.scss */
.menu .menutags .input-group {
  width: 95%;
}
/* line 60, ../scss/style.scss */
.menu .menutags .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 67, ../scss/style.scss */
.menu .menutags .input-group .form-control:last-child, .menu .menutags .input-group-addon:last-child, .menu .menutags .input-group-btn:last-child > .btn, .menu .menutags .input-group-btn:last-child > .btn-group > .btn, .menu .menutags .input-group-btn:last-child > .dropdown-toggle, .menu .menutags .input-group-btn:first-child > .btn:not(:first-child), .menu .menutags .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 72, ../scss/style.scss */
.menu .menutags .input-group .form-control:first-child, .menu .menutags .input-group-addon:first-child, .menu .menutags .input-group-btn:first-child > .btn, .menu .menutags .input-group-btn:first-child > .btn-group > .btn, .menu .menutags .input-group-btn:first-child > .dropdown-toggle, .menu .menutags .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .menu .menutags .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 77, ../scss/style.scss */
.menu .menutags .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 83, ../scss/style.scss */
.menu .menutags .singleitem .sitename {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 92, ../scss/style.scss */
.menu .menutags .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
/* line 97, ../scss/style.scss */
.menu .menutags .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
/* line 103, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
/* line 113, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 128, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 144, ../scss/style.scss */
.menu .menutags .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
/* line 149, ../scss/style.scss */
.menu .menutags .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 158, ../scss/style.scss */
.menu .sites {
  width: 95%;
  height: 30px;
  background-color: #ccc;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-radius: 0px;
}
/* line 173, ../scss/style.scss */
.menu .menusites {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
/* line 181, ../scss/style.scss */
.menu .menusites .input-group {
  width: 95%;
}
/* line 185, ../scss/style.scss */
.menu .menusites .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 192, ../scss/style.scss */
.menu .menusites .input-group .form-control:last-child, .menu .menusites .input-group-addon:last-child, .menu .menusites .input-group-btn:last-child > .btn, .menu .menusites .input-group-btn:last-child > .btn-group > .btn, .menu .menusites .input-group-btn:last-child > .dropdown-toggle, .menu .menusites .input-group-btn:first-child > .btn:not(:first-child), .menu .menusites .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 197, ../scss/style.scss */
.menu .menusites .input-group .form-control:first-child, .menu .menusites .input-group-addon:first-child, .menu .menusites .input-group-btn:first-child > .btn, .menu .menusites .input-group-btn:first-child > .btn-group > .btn, .menu .menusites .input-group-btn:first-child > .dropdown-toggle, .menu .menusites .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .menu .menusites .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 202, ../scss/style.scss */
.menu .menusites .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 208, ../scss/style.scss */
.menu .menusites .singleitem .sitename {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 217, ../scss/style.scss */
.menu .menusites .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
/* line 222, ../scss/style.scss */
.menu .menusites .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
/* line 228, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
/* line 238, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 253, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 269, ../scss/style.scss */
.menu .menusites .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
/* line 274, ../scss/style.scss */
.menu .menusites .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 284, ../scss/style.scss */
.menu .loginsmtext {
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 15px;
}
/* line 292, ../scss/style.scss */
.menu .smcontainer {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 298, ../scss/style.scss */
.menu .smicon {
  width: 35px;
  margin-right: 2px;
}

/* line 306, ../scss/style.scss */
.grayout {
  width: 100%;
  height: 100%;
  /*display:none;*/
  position: absolute;
  background: #000;
  z-index: 8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

/* Title Bar */
/* line 318, ../scss/style.scss */
.titlebar {
  background: #fff;
  height: 55px;
  box-shadow: 0px 1px 1px #888888;
  /* expanding input CSS only */
}
/* line 323, ../scss/style.scss */
.titlebar .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/* line 332, ../scss/style.scss */
.titlebar .login {
  width: 30px;
  margin: 12px 0 0 15px;
  position: absolute;
}
/* line 338, ../scss/style.scss */
.titlebar .search {
  width: 25px;
  position: absolute;
  float: right;
  margin: -27px 0 0 280px;
}
/* line 347, ../scss/style.scss */
.titlebar #myInput {
  width: 30px;
  -webkit-transition: width 0.3s ease-in-out;
}
/* line 351, ../scss/style.scss */
.titlebar #myInput:focus {
  width: 100%;
  -webkit-transition: width 0.5s ease-in-out;
}

/* line 357, ../scss/style.scss */
.article-list {
  height: 100%;
}
/* line 360, ../scss/style.scss */
.article-list .single {
  height: 100px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0px 1px 1px #888888;
}
/* line 366, ../scss/style.scss */
.article-list .single p.articletitle {
  font-family: 'Avenir-Medium', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-left: 110px;
  padding-top: 9px;
}
/* line 373, ../scss/style.scss */
.article-list .single p.articlebody {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  margin-left: 110px;
  margin-right: 10px;
  margin-top: -3px;
}
/* line 382, ../scss/style.scss */
.article-list .single p.articlesite {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  margin-left: 110px;
  margin-right: 10px;
  margin-top: -3px;
}
/* line 391, ../scss/style.scss */
.article-list .single .varible {
  margin-top: -5px;
}
/* line 394, ../scss/style.scss */
.article-list .single .variablelist li {
  display: inline;
  list-style-type: none;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  color: #aaa;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 2px;
}
/* line 406, ../scss/style.scss */
.article-list .single .placeholderimage {
  width: 100px;
  height: 100px;
  background-color: #aaa;
  float: left;
}
